.main-content__container {
    padding: 10px 5px 8px 6px;
    border: 5px solid black;
    margin: 10px 5px 8px 6px;
    display: inline-block;
    box-sizing: border-box;
}

ol + div {
    height: 300px;
    width: 50%;
}

#first-box {
    display: none;
}

div:last-of-type:hover {
    background: blue;
    color: white;
    border: none;
}
